body {
  font: 11px verdana, sans-serif;
  background: #222;
  margin: 0;
}

a {
  color: #999;
}

a:hover {
  color: #D8EA5E;
}

#slides {
  width: 991px;
  height: 671px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#inner {
  position: absolute;
  left: 0;
  top: 0;
}

#slides img {
  float: left;
}

#credit {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
